---
import Base from "../layouts/Base.astro";
import "../styles/application.css";
---

<Base title="randomrules.org">
    <div id="about">
        Hi, I'm <a href="https://eoin.org">Eoin</a>. I like to <a
            href="https://github.com/eoin/randomrules.org">make things</a
        >.
    </div>
    <canvas id="canvas"></canvas>
    <script src="../scripts/application.js"></script>
</Base>
